{% extends "base.html" %}
{% load static %}

<!-- #region Slider -->
{% block banner-slider %}
<div id="slider">
    Banner here...
</div>
{% endblock banner-slider %}
<!-- #endregion Slider -->

<!-- #region main-content -->
{% block main-content %}

<div class="product_container">
    <h3 class="product_title">Product</h3>
    <hr>
    <div class="products">
        {% for product in products|slice:":5" %} 
        <div class="product-card">
            <img class="product-img" src="{% get_media_prefix %}{{ product.image }}" alt="">
            <h5><strong>{{ product.title }}</strong></h5>
            <hr>
            <p>{{ product.description }}</p>
            <p>Stock: {{ product.inventory }}</p>
            <button class="btn add-btn">Add to Cart</button>
            <button class="btn more-btn">More</button>
            <h4 class="price"><strong>$ {{ product.price | floatformat:2}}</strong></h4>
        </div>
        {% endfor %}
    </div>
    <div class="products">
        {% for product in products|slice:"5:9" %}
        <div class="product-card">
            <img class="product-img" src="{% get_media_prefix %}{{ product.image }}" alt="">
            <h5><strong>{{ product.title }}</strong></h5>
            <hr>
            <p>{{ product.description }}</p>
            <p>Stock: {{ product.inventory }}</p>
            <button class="btn add-btn">Add to Cart</button>
            <button class="btn more-btn">More</button>
            <h4 class="price"><strong>$ {{ product.price | floatformat:2}}</strong></h4>
        </div>
        {% endfor %}
    </div>
</div>
    
{% endblock main-content %}
<!-- #endregion main-content -->