* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* =================== HEADER  =================== */
/* #region Header */
header {
    width: 100%;
    height: auto;
    background: var(--header-footer-background);
}

/* =================== NAVBAR  =================== */
nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.nav__list-item a {
    color: var(--text-color);
}
.nav__list-item:hover a {
    color: var(--text-hover-color);
}
.nav__list--right {
    justify-content: end;
}
.search-bar-btn {
    cursor: pointer;
}
/* #endregion Header  */

/* =================== BODY CONTENT =================== */
/* #region Content */
.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product {
    flex-basis: 25%;
}
/* #endregion Content */


/* =================== FOOTER  =================== */
/* #region Footer */
footer {
    width: 100%;
    background: var(--header-footer-background);
    color: var(--text-color);
}

.footer {
    padding: 10px 0 10px 0;
}
/* #endregion Footer */