{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <!-- #region Internal CSS -->
    <link href="{% static '/css/reusable.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <!-- #endregion Internal CSS -->

</head>
<body>
    <!-- =================== HEADER  =================== -->
    <!-- #region Header -->
    <header id="header">
        <!-- =================== NAVBAR  =================== -->
        <!-- #region Nav -->
        <nav id="nav" class="container flex">
            <!-- =================== LEFT LIST  =================== -->
            <!-- #region Left List -->
            <div class="three-columns">
                <ul class="nav__list--left flex w-100">
                    <li class="nav__list-item p-r-1">
                        <a href="/home">Home</a>
                    </li>
                    <li class="nav__list-item p-r-1">
                        <a href="#">Product</a>
                    </li>
                    <li class="nav__list-item p-r-1">
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- #endregion Left List -->

            <!-- =================== SEARCH BAR  =================== -->
            <!-- #region Search Bar -->
            <div class="three-columns">
                <div class="nav__search-bar w-100">
                    <input class="w-50" type="text" placeholder=" Search..">
                    <button class="search-bar-btn" type="submit">Search</button>
                </div>
            </div>
            <!-- #endregion Search Bar -->

            <!-- =================== RIGHT LIST =================== -->
            <!-- #region Right List -->
            <div class="three-columns">
                <ul class="nav__list--right flex w-100">
                    <li class="nav__list-item p-r-1">
                        <a href="/cart">Cart</a>
                    </li>
                    <li class="nav__list-item">
                        <a href="/login">Log in</a>
                    </li>
                </ul>
            </div>
            <!-- #endregion Right List -->
        </nav>
        <!-- #endregion Nav -->
    </header>
    <!-- #endregion Header -->

    <!-- =================== CONTENT  =================== -->
    <!-- #region Content -->
    <!-- ============== CONTENT ==============  -->
    {% block banner-slider %} {% endblock banner-slider %}

    {% block main-content %} {% endblock main-content %}

    {% block cart-content %} {% endblock cart-content %}

    {% block login-content %} {% endblock login-content%}
    <!-- #endregion Content -->

    <!-- =================== FOOTER  =================== -->
    <!-- #region Footer -->
    <footer id="footer">
        Copyright﹫ 2024
    </footer>
    <!-- #endregion Footer -->
</body>
</html>