<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <link rel="stylesheet" href="./reusable.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- =================== HEADER  =================== -->
    <!-- #region Header -->
    <header id="header">
        <!-- =================== NAVBAR  =================== -->
        <!-- #region Nav -->
        <nav id="nav" class="container flex">
            <div class="three-columns">
                <ul class="nav__list--left flex w-100">
                    <li class="nav__list-item p-r-1">
                        <a href="/home">Home</a>
                    </li>
                    <li class="nav__list-item p-r-1">
                        <a href="#">Products</a>
                    </li>
                </ul>
            </div>
            <div class="three-columns">
                <div class="nav__search-bar w-100">

                </div>
            </div>
            <div class="three-columns">
                <ul class="nav__list--right flex w-100">
                    <li class="nav__list-item p-r-1">
                        <a href="/cart">Cart</a>
                    </li>
                    <li class="nav__list-item">
                        <a href="/login">Log in</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- #endregion Nav -->
    </header>
    <!-- #endregion Header -->

    <!-- =================== CONTENT  =================== -->
    <!-- #region Content -->

    <!-- #endregion Content -->

    <!-- =================== FOOTER  =================== -->
    <!-- #region Footer -->

    <!-- #endregion Footer -->
</body>
</html>